[submodule "contrib/boost/algorithm"]
	shallow = true
[submodule "contrib/boost/align"]
	shallow = true
[submodule "contrib/boost/bind"]
	shallow = true
[submodule "contrib/boost/concept_check"]
	shallow = true
[submodule "contrib/boost/config"]
	shallow = true
[submodule "contrib/boost/container"]
	shallow = true
[submodule "contrib/boost/core"]
	shallow = true
[submodule "contrib/boost/date_time"]
	shallow = true
[submodule "contrib/boost/detail"]
	shallow = true
[submodule "contrib/boost/endian"]
	shallow = true
[submodule "contrib/boost/exception"]
	shallow = true
[submodule "contrib/boost/filesystem"]
	shallow = true
[submodule "contrib/boost/function"]
	shallow = true
[submodule "contrib/boost/function_types"]
	shallow = true
[submodule "contrib/boost/functional"]
	shallow = true
[submodule "contrib/boost/geometry"]
	shallow = true
[submodule "contrib/boost/integer"]
	shallow = true
[submodule "contrib/boost/intrusive"]
	shallow = true
[submodule "contrib/boost/io"]
	shallow = true
[submodule "contrib/boost/iterator"]
	shallow = true
[submodule "contrib/boost/lexical_cast"]
	shallow = true
[submodule "contrib/boost/math"]
	shallow = true
[submodule "contrib/boost/move"]
	shallow = true
[submodule "contrib/boost/mpl"]
	shallow = true
[submodule "contrib/boost/multi_index"]
	shallow = true
[submodule "contrib/boost/multiprecision"]
	shallow = true
[submodule "contrib/boost/optional"]
	shallow = true
[submodule "contrib/boost/predef"]
	shallow = true
[submodule "contrib/boost/preprocessor"]
	shallow = true
[submodule "contrib/boost/program_options"]
	shallow = true
[submodule "contrib/boost/qvm"]
	shallow = true
[submodule "contrib/boost/range"]
	shallow = true
[submodule "contrib/boost/serialization"]
	shallow = true
[submodule "contrib/boost/smart_ptr"]
	shallow = true
[submodule "contrib/boost/system"]
	shallow = true
[submodule "contrib/boost/tuple"]
	shallow = true
[submodule "contrib/boost/type_index"]
	shallow = true
[submodule "contrib/boost/type_traits"]
	shallow = true
[submodule "contrib/boost/utility"]
	shallow = true
[submodule "contrib/boost/variant"]
	shallow = true
[submodule "contrib/boost/winapi"]
	shallow = true
