[submodule "contrib/poco"]
	path = contrib/poco
	url = https://github.com/pingcap/poco.git
[submodule "contrib/zstd"]
	path = contrib/zstd
	url = https://github.com/facebook/zstd.git
[submodule "contrib/lz4"]
	path = contrib/lz4
	url = https://github.com/lz4/lz4.git
[submodule "contrib/cctz"]
	path = contrib/cctz
	url = https://github.com/google/cctz.git
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "contrib/double-conversion"]
	path = contrib/double-conversion
	url = https://github.com/google/double-conversion.git
[submodule "contrib/re2"]
	path = contrib/re2
	url = https://github.com/google/re2.git
[submodule "contrib/boost"]
	path = contrib/boost
	url = https://github.com/pingcap/boost-extra.git
[submodule "contrib/kvproto"]
	path = contrib/kvproto
	url = https://github.com/pingcap/kvproto.git
[submodule "contrib/tipb"]
	path = contrib/tipb
	url = https://github.com/pingcap/tipb.git
	branch = master
[submodule "contrib/client-c"]
	path = contrib/client-c
	url = https://github.com/tikv/client-c.git
[submodule "contrib/tiflash-proxy"]
	path = contrib/tiflash-proxy
	url = https://github.com/pingcap/tidb-engine-ext.git
[submodule "contrib/prometheus-cpp"]
	path = contrib/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git
[submodule "contrib/junction"]
	path = contrib/junction
	url = https://github.com/preshing/junction.git
[submodule "contrib/jemalloc"]
	path = contrib/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "contrib/mimalloc"]
	path = contrib/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "contrib/libunwind"]
	path = contrib/libunwind
	url = https://github.com/libunwind/libunwind.git
[submodule "contrib/fmtlib"]
	path = contrib/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "contrib/xxHash"]
	path = contrib/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "contrib/benchmark"]
	path = contrib/benchmark
	url = https://github.com/google/benchmark.git
[submodule "contrib/protobuf"]
	path = contrib/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "contrib/abseil-cpp"]
	path = contrib/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "contrib/grpc"]
	path = contrib/grpc
	url = https://github.com/grpc/grpc.git
	# ignore dirty status since we apply a patch to
	# suppress a verbose logging
	ignore = dirty
[submodule "contrib/boringssl"]
	path = contrib/boringssl
	url = https://github.com/google/boringssl.git
[submodule "contrib/curl"]
	path = contrib/curl
	url = https://github.com/curl/curl.git
[submodule "contrib/zlib-ng"]
	path = contrib/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "contrib/cpu_features"]
	path = contrib/cpu_features
	url = https://github.com/google/cpu_features.git
[submodule "contrib/arm-optimized-routines"]
	path = contrib/arm-optimized-routines
	url = https://github.com/ARM-software/optimized-routines.git
[submodule "contrib/magic_enum"]
	path = contrib/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "contrib/GmSSL"]
	path = contrib/GmSSL
	url = https://github.com/guanzhi/GmSSL.git
[submodule "contrib/aws"]
	path = contrib/aws
	url = https://github.com/aws/aws-sdk-cpp.git
	# ignore dirty status since we apply patches to
	# fix bug when using Poco client
	ignore = dirty
[submodule "contrib/aws-c-auth"]
	path = contrib/aws-c-auth
	url = https://github.com/awslabs/aws-c-auth.git
[submodule "contrib/aws-c-cal"]
	path = contrib/aws-c-cal
	url = https://github.com/awslabs/aws-c-cal.git
[submodule "contrib/aws-c-common"]
	path = contrib/aws-c-common
	url = https://github.com/awslabs/aws-c-common.git
[submodule "contrib/aws-c-compression"]
	path = contrib/aws-c-compression
	url = https://github.com/awslabs/aws-c-compression.git
[submodule "contrib/aws-c-event-stream"]
	path = contrib/aws-c-event-stream
	url = https://github.com/awslabs/aws-c-event-stream.git
[submodule "contrib/aws-c-http"]
	path = contrib/aws-c-http
	url = https://github.com/awslabs/aws-c-http.git
[submodule "contrib/aws-c-io"]
	path = contrib/aws-c-io
	url = https://github.com/awslabs/aws-c-io.git
[submodule "contrib/aws-c-mqtt"]
	path = contrib/aws-c-mqtt
	url = https://github.com/awslabs/aws-c-mqtt.git
[submodule "contrib/aws-c-s3"]
	path = contrib/aws-c-s3
	url = https://github.com/awslabs/aws-c-s3.git
[submodule "contrib/aws-c-sdkutils"]
	path = contrib/aws-c-sdkutils
	url = https://github.com/awslabs/aws-c-sdkutils.git
[submodule "contrib/aws-checksums"]
	path = contrib/aws-checksums
	url = https://github.com/awslabs/aws-checksums.git
[submodule "contrib/aws-crt-cpp"]
	path = contrib/aws-crt-cpp
	url = https://github.com/awslabs/aws-crt-cpp.git
[submodule "contrib/aws-s2n-tls"]
	path = contrib/aws-s2n-tls
	url = https://github.com/aws/s2n-tls.git
[submodule "contrib/qpl"]
	path = contrib/qpl
	url = https://github.com/intel/qpl.git
[submodule "contrib/usearch"]
	path = contrib/usearch
	url = https://github.com/unum-cloud/usearch.git
[submodule "contrib/simsimd"]
	path = contrib/simsimd
	url = https://github.com/ashvardanian/SimSIMD
[submodule "contrib/highfive"]
	path = contrib/highfive
	url = https://github.com/BlueBrain/HighFive
