name: License checker

on:
  push:
    branches:
      - planner_refactory
  pull_request:
    branches:
      - planner_refactory

jobs:
  check-license:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Check License Header
        uses: apache/skywalking-eyes@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          log: info
          config: .github/licenserc.yml
